# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.Venv/

# Distribution files
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test and coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Configuration file with sensitive information
config.py

# Data files (if you do not wish to commit historical data)
traffic_data.csv
last_retrain.txt
